/* google fonts - roboto  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* tailwind and daisy ui  */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: "Roboto", sans-serif;
}
.text-secondary{
  color: #707070;
}